<app-detail (close)="closeDetail($event)">
    <h1 detail-title><strong>{{subcategoriaEditar?'EDITAR':'AGREGAR'}}</strong></h1>
    <form detail-content [formGroup]="formSubcategoria" (ngSubmit)="addRegistro()">
        <div class="row form-group">
            <div class="col-12">
                <label for="categoria">{{'Categoría(*):'}}</label>
                <select class="custom-select" formControlName="categoria"
                    name="categoria" id="categoria" [compareWith]="compararCategoria">
                    <option [value]="''" selected>Seleccionar categoría</option>
                    <option *ngFor="let categoria of listaCategoria" [ngValue]="categoria">
                        {{categoria?.denominacion}}</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <label></label>
        </div>
        <div class="row form-group">
            <div class="col-9">
                <label for="denominacion">{{'Denominación(*): '}}</label>
                <input type="text" name="denominacion" formControlName="denominacion" class="form-control" 
                    id="denominacion" oninput="denominacion.value = denominacion.value.toUpperCase()"
                    [ngClass]="{'is-valid': denominacionField?.dirty && !denominacionField?.invalid && !denominacionField?.errors, 'is-invalid': denominacionField?.dirty && denominacionField?.invalid && denominacionField?.errors}">
                <div class="valid-feedback">
                    <span>{{ "Exito"}}</span>
                </div>
                <div class="invalid-feedback">
                    <span *ngIf="denominacionField?.errors?.['required']">{{"Requerido"}}</span>
                </div>
            </div>
            <div class="col-3">
                <label for="numJueces"><b>{{'Número Jueces(*):'}}</b></label>
                <input type="number" name="numJueces" formControlName="numJueces" class="form-control" id="numJueces"
                    placeholder="99" step="0.01" min="0.01"
                    [ngClass]="{'is-valid': numJuecesField?.dirty && !numJuecesField?.invalid && !numJuecesField?.errors && (numJuecesField?.value > numJuecesField?.value), 'is-invalid': numJuecesField?.dirty && numJuecesField?.invalid && numJuecesField?.errors  && !(numJuecesField?.value > numJuecesField?.value)}">
                <div class="valid-feedback">
                    <span>{{ "Exito"}}</span>
                </div>
                <div class="invalid-feedback">
                    <span *ngIf="numJuecesField?.errors?.['required']">{{"Requerido"}}</span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-block btn-primary" [disabled]="formSubcategoria?.invalid">
                    {{subcategoriaEditar?'GUARDAR':'GUARDAR'}}</button>
            </div>
        </div>
    </form>

</app-detail>
<ng-template #modal_success let-modal>

    <div class="modal-header">
        <h5 class="modal-title">{{'Éxito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{subcategoriaEditar?'Se ha actualizado el registro correctamente.':'Se ha agregado el registro correctamente.'}}
    </div>

</ng-template>
<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{subcategoriaEditar?'Ha habido un problema al actualizar el registro.':'Ha habido un problema al agregar el registro.'}}
    </div>
</ng-template>