<div class="row">
    <div class="col-12">
        <div class="card box-shadow-sm">
            <div class="card-footer">
                <form detail-content [formGroup]="formTransaccionConsulta" (ngSubmit)="listarTransaccion()">
                    <div class="row form-group">
                        <div class="col-2">
                            <label for="fechaInicio"><b>{{'Fecha Inicio(*): '}}</b></label>
                            <input type="date" name="fechaInicio" formControlName="fechaInicio" class="form-control"
                                id="fechaInicio"
                                [ngClass]="{'is-valid': fechaInicioField?.dirty && !fechaInicioField?.invalid && !fechaInicioField?.errors,'is-invalid': fechaInicioField?.dirty && fechaInicioField?.invalid && fechaInicioField?.errors}">
                            <div class="valid-feedback">
                                <span>{{ "Exito"}}</span>
                            </div>
                            <div class="invalid-feedback">
                                <span *ngIf="fechaInicioField?.errors?.['required']">{{"Requerido"}}</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <label for="fechaFin"><b>{{'Fecha Fin(*): '}}</b></label>
                            <input type="date" name="fechaFin" formControlName="fechaFin" class="form-control"
                                id="fechaFin"
                                [ngClass]="{'is-valid': fechaFinField?.dirty && !fechaFinField?.invalid && !fechaFinField?.errors,'is-invalid': fechaFinField?.dirty && fechaFinField?.invalid && fechaFinField?.errors}">
                            <div class="valid-feedback">
                                <span>{{ "Exito"}}</span>
                            </div>
                            <div class="invalid-feedback">
                                <span *ngIf="fechaFinField?.errors?.['required']">{{"Requerido"}}</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-3 form-group">
                            <label for="descripcion"><b>{{'Descripción(*): '}}</b></label>
                            <input type="text" name="descripcion" id="descripcion" formControlName="descripcion"
                                maxlength="50" placeholder="Por favor, ingrese la clave de la cuenta."
                                class="form-control"
                                [ngClass]="{'is-valid': descripcionField?.dirty && !descripcionField?.invalid && !descripcionField?.errors,'is-invalid': descripcionField?.dirty && descripcionField?.invalid && descripcionField?.errors}">
                            <div class="valid-feedback">
                                <span>{{ "Exito"}}</span>
                            </div>
                        </div>
                        <div class="col-md-2 col-2 form-group">
                            <div class="my-2 text-left table-responsive">
                                <button type="submit" class="btn btn-info btn-rounded">
                                    <b>{{ "Buscar"}}</b>
                                    <b>{{ " "}}</b>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2 col-3 form-group" [ngStyle]="{'display': 'none'}">
                            <div class="my-2 text-left">
                                <button [disabled]=""
                                    class="btn btn-success btn-submit waves-effect waves-float waves-light"
                                    (click)="obtenerTransaccionACaducarse()">
                                    <b>{{ "Enviar Notificaciones"}}</b>
                                    <b>{{ " "}}</b>
                                    <i class="fa fa-envelope" style="font-size:14px;color:red"></i>
                                </button>
                            </div>
                        </div>
                        <!--
                            <div class="col-12 form-group">
                                <button [disabled]=""
                                    class="btn btn-success btn-submit waves-effect waves-float waves-light"
                                    (click)="enviarCorreo()">
                                    <b>{{ "Enviar Correo"}}</b>
                                    <b>{{ " "}}</b>
                                    <i class="fa fa-envelope" style="font-size:14px;color:red"></i>
                                </button>
                            </div>
                            -->
                    </div>
                    <div class="row form-group">
                        <div class="col-4">
                            <label for="claveCuenta"><b>{{'Usuario/Cuenta: '}}</b></label>
                            <input type="text" name="claveCuenta" id="claveCuenta" formControlName="claveCuenta"
                                placeholder="Clave Cuenta" class="form-control" maxlength="50"
                                [ngClass]="{'is-valid': claveCuentaField?.dirty && !claveCuentaField?.invalid && !claveCuentaField?.errors,'is-invalid': claveCuentaField?.dirty && claveCuentaField?.invalid && claveCuentaField?.errors}">
                            <div class="valid-feedback">
                                <span>{{ "Exito"}}</span>
                            </div>
                        </div>
                        <div class="col-3" [ngStyle]="{'display': 'none'}">
                            <label for="codCliente"><b>{{'Cliente: '}}</b></label>
                            <select name="codCliente" formControlName="codCliente" required placeholder="Nombre Cliente"
                                class="form-control mr-sm-2" id="codCliente" [compareWith]="compararCliente">
                                <option [value]="" selected>Seleccionar Cliente</option>
                                <option *ngFor="let cliente of listaCliente" [value]="cliente.codigo">
                                    <span>{{cliente?.persona?.nombres + " " + cliente?.persona?.apellidos + " - "
                                        +cliente?.persona?.celular}}</span>
                                </option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Por favor seleccione una opción.</div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <ng-container>
                            <mat-tab-group mat-align-tabs="center" #revTabGroup class="tab-group"
                                [(selectedIndex)]="selectedTab">
                                <mat-tab>
                                    <section class="tab-container">
                                        <div>
                                            <b>{{'Lista Transacción'}}</b>
                                            <button type="submit" (click)="openDetail()" [disabled]="true"
                                                matTooltip="Agregar Nuevo Transaccion"
                                                class="btn btn-block btn-primary form-control mt-2">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                {{'Agregar Transacción'}}
                                            </button>
                                            <table class="table" *ngIf="listaTransaccion?.length > 0"
                                                id="tablaTransaccion">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Servicio</th>
                                                        <th scope="col">Cuenta/Clave</th>
                                                        <th scope="col">Monto</th>
                                                        <th scope="col">Cant.</th>
                                                        <th scope="col">Fin</th>
                                                        <th scope="col">Días Ren.</th>
                                                        <th scope="col">Cambiar</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr [ngStyle]="{'color': transaccion?.colorFila}"
                                                        *ngFor="let transaccion of listaTransaccion | paginate: {id:'paginar', itemsPerPage: itemsRegistros, currentPage: page } ; let index=index">
                                                        <td>{{index+1}}</td>
                                                        <td>{{transaccion?.descripcionProducto}}</td>
                                                        <td>{{transaccion?.claveCuenta + '  ' + transaccion?.clave}}
                                                        <!--    
                                                        </td>
                                                        <td>
                                                        -->
                                                            <button type="button" [ngStyle]="{'display': transaccion?.displayNoneListaCuentaClave}"
                                                                matTooltip="Ver Cuenta/Clave" class="btn btn-rounded" style="width: 1px"
                                                                rippleEffect round><i class="fa fa-search" style="font-size:10px; color:blue"
                                                                    (click)="verListaCuentaClave(transaccion?.codigo)"></i></button>
                                                        </td>
                                                        <td>{{transaccion?.monto}}</td>
                                                        <td>{{transaccion?.numProducto}}</td>
                                                        <td>{{transaccion?.fechaFin}}</td>
                                                        <td>{{transaccion?.numDiasRenovar}}</td>
                                                        <td [ngStyle]="{'background-color': transaccion?.colorColumna}">
                                                            {{transaccion?.fechaCambia}}</td>
                                                        <td>
                                                            <div class="btn-group" role="group"
                                                                aria-label="Basic example">
                                                                <button (click)="openClonarDetail(transaccion)" [ngStyle]="{'display': 'none'}"
                                                                    matTooltip="Clonar Transacción" type=" button"
                                                                    class="btn btn-success" rippleEffect round><i
                                                                        class="fas fa-copy"
                                                                        (click)="openClonarDetail(transaccion)"></i></button>
                                                                <button (click)="openRenovarDetail(transaccion)" [ngStyle]="{'display': 'none'}"
                                                                    matTooltip="Renovar Transacción" type=" button"
                                                                    class="btn btn-info" rippleEffect round><i
                                                                        class="fas fa-paste"
                                                                        (click)="openRenovarDetail(transaccion)"></i></button>
                                                                <button (click)="openEditarDetail(transaccion)"
                                                                    matTooltip="Editar Transacción" type=" button"
                                                                    class="btn btn-primary" rippleEffect round><i
                                                                        class="fa fa-pencil"
                                                                        (click)="openEditarDetail(transaccion)"></i></button>
                                                                <button (click)="openRemoverDetail(transaccion)" [ngStyle]="{'display': 'none'}"
                                                                    matTooltip="Eliminar Transacción" type="button"
                                                                    class="btn btn-danger" rippleEffect><i
                                                                        class="fa fa-trash"
                                                                        (click)="openRemoverDetail(transaccion)"></i></button>
                                                                <button (click)="openNotificarDetail(transaccion)" [ngStyle]="{'display': 'none'}"
                                                                    matTooltip="Enviar Notificación" type="button"
                                                                    class="btn btn-success btn-submit waves-effect waves-float waves-light" rippleEffect><i
                                                                        class="fa fa-envelope" style="font-size:14px; color:red"
                                                                        (click)="openNotificarDetail(transaccion)"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row mt-5" *ngIf="listaTransaccion?.length > itemsRegistros">
                                                <div class="col-12 text-center">
                                                    <pagination-controls id="paginar" class="paginacion"
                                                        [responsive]="true" [autoHide]="true" previousLabel="Anterior"
                                                        nextLabel="Siguiente" (pageChange)="page = $event"
                                                        screenReaderCurrentLabel="Tú estas en la página:">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="listaTransaccion.length === 0">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>No hay datos disponibles</p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </section>
                                </mat-tab>
                            </mat-tab-group>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-form-transaccion-consulta [transaccionEditar]="transaccionSeleccionado" [codigoChild]="codigo"
    [descripcionChild]="descripcion" [listaTransaccionChild]="listaTransaccion"
    (listaTransaccion)="listaTransaccionActualizada($event)" (close)="closeDetail($event)" *ngIf="showDetail"
    [nombreProcesoChild]="nombreProceso">
</app-form-transaccion-consulta>

<ng-template #modal_confirm_delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Confirmar borrado.'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('no')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'¿Quieres borrar el registro?'}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('yes')">{{'Si'}}</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('no')">{{'No'}}</button>
    </div>
</ng-template>
<ng-template #modal_success let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Exito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'El registro ha sido borrada con éxito'}}
    </div>
</ng-template>

<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'Ha habido un problema al borrar el registro'}}
    </div>
</ng-template>

<ng-template #modalCuentaClave let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Lista CuentaClave</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table" *ngIf="listaCuentaClave?.length > 0" id="tablaCuentaClave">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">
                            <div align="center">Usuario/Cuenta</div>
                        </th>
                        <th scope="col">
                            <div align="center">Clave</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cuentaClave of listaCuentaClave ; let index=index">
                        <td style="width:1%">{{index+1}}</td>
                        <td>
                            <input type="text" name="cuenta" style="width:135%" [(ngModel)]="cuentaClave.cuenta"
                                id="cuenta" [disabled]="true">
                        </td>
                        <td>
                            <input type="text" name="clave" style="width:120%" [(ngModel)]="cuentaClave.clave"
                                id="clave" [disabled]="true">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-primary" (click)="modal.close('Si')">Actualizar</button>-->
            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="modal.close('No')">Cancelar</button>
        </div>
    </div>
</ng-template>