<div class="row">
    <div class="col-12">
        <div class="card box-shadow-sm">
            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <ng-container>
                            <mat-tab-group mat-align-tabs="center" #revTabGroup class="tab-group"
                                [(selectedIndex)]="selectedTab">
                                <mat-tab>
                                    <section class="tab-container">
                                        <div>
                                            <!--
                                            <h3><b>{{'Lista Participantes: '}} {{desCategoria}}
                                                    - {{desSubcategoria}} - {{desInstancia}}
                                                </b></h3>
                                            -->
                                            <button type="submit"
                                                [disabled]="true"
                                                class="btn btn-block btn-primary form-control mt-2">
                                                <i class="fa-solid fa-music" aria-hidden="true"></i>
                                                {{'...Minuto a minuto / Sigue a tus competidores favoritos...'}}
                                                <i class="fa-solid fa-music" aria-hidden="true"></i>
                                            </button>
                                            <table class="table" *ngIf="listaParticipante?.length > 0"
                                                id="tablaParticipante">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="width:1%">#</th>
                                                        <th scope="col"><div align="center">Academia/Escuela</div></th>
                                                        <th scope="col"><div align="center">Nombres</div></th>
                                                        <th scope="col"><div align="center">Categoría / Subcategoría</div></th>
                                                        <th scope="col"><div align="center">Fecha/hora Competencia</div></th>
                                                        <th scope="col"><div align="center">Estado Competencia</div></th>
                                                        <th scope="col"><div align="center">Orden</div></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let participante of listaParticipante | paginate: {id:'paginar', itemsPerPage: itemsRegistros, currentPage: page } ; let index=index">
                                                        <td style="width:1%">{{index+1}}</td>
                                                        <td>{{participante?.nombreEscuela}}</td>
                                                        <td>{{participante?.nombrePersona}}
                                                        <!--</td>
                                                        <td>-->
                                                            <button type="button" style="width: 1px"
                                                                [ngStyle]="{'display': participante?.displayNoneGrupo}"
                                                                matTooltip="Ver Integrantes" class="btn btn-rounded"
                                                                rippleEffect round><i class="fa fa-search" style="font-size:14px; color:rgb(74, 157, 157)"
                                                                    (click)="verListaIntegrante(participante?.codigo)"></i></button>
                                                        </td>
                                                        <td>{{participante?.desCategoria + ' / ' +
                                                            participante?.desSubcategoria}}</td>
                                                        <td align="center" style="font-size:14px; color:rgb(74, 157, 157)"><b>{{participante?.dateLastActive}}</b></td>
                                                        <td>
                                                            <!--style="{'background-color': participante?.dateLastActive}"-->
                                                            <!--[disabled]="formEstado.invalid"-->
                                                            <button type="button" [disabled]="disabledEstado" style="width:1%"
                                                                [ngStyle]="{'background-color': participante?.colorBoton}"
                                                                style="color: black; font-size:11px" class="btn btn-rounded">
                                                                <b>{{participante?.desEstadoCompetencia}}</b>
                                                                <b>{{ " "}}</b>
                                                                <i class="fa fa-pencil"></i>
                                                            </button>
                                                        </td>
                                                        <td><div align="center" style="font-size:14px; color:rgb(74, 157, 157)"><b>{{participante?.numParticipante}}</b></div></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row mt-5" *ngIf="listaParticipante?.length > itemsRegistros">
                                                <div class="col-12 text-center">
                                                    <pagination-controls id="paginar" class="paginacion"
                                                        [responsive]="true" [autoHide]="true" previousLabel="Anterior"
                                                        nextLabel="Siguiente" (pageChange)="page = $event"
                                                        screenReaderCurrentLabel="Tú estas en la página:">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="listaParticipante?.length === 0">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>No hay datos disponibles</p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </section>
                                </mat-tab>
                            </mat-tab-group>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!--
    <audio controls>
        <source src="./assets/musica/solista_salsa_javier_brito.ogg" type="audio/ogg"/>
        <source src="./assets/musica/solista_salsa_javier_brito.mp3" type="audio/mpeg"/>
        <source src="{{urlCancion}}" type="audio/mpeg"/>
        Your browser does not support the audio element.
    </audio>
    -->
    <!--
    <audio #ref src="{{urlCancion}}" type="audio/mpeg"></audio>
    <button (click)="ref.play()">▶️ play</button>
    <button (click)="ref.pause()">⏸ pause</button>
    -->
</div>

<app-form-estado [participanteEditar]="participanteSeleccionado" [codigoChild]="codigo"
    [codSubcategoriaChild]="codSubcategoria" [codInstanciaChild]="codInstancia" [customerIdChild]="customerId"
    [userIdChild]="userId" [identificacionChild]="identificacion"
    (listaParticipante)="listarParticipanteActivoActualizada($event)" (close)="closeDetail($event)" *ngIf="showDetail">
</app-form-estado>

<ng-template #modal_confirm_delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Confirmar borrado.'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('no')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'¿Quieres borrar el registro?'}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('yes')">{{'Si'}}</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('no')">{{'No'}}</button>
    </div>
</ng-template>
<ng-template #modal_success let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Exito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'El registro ha sido borrada con éxito'}}
    </div>
</ng-template>

<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'Ha habido un problema al borrar el registro'}}
    </div>
</ng-template>

<ng-template #myModalInfo let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Éxito</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ¡Modal mostrado correctamente!
        </div>
    </div>
</ng-template>

<ng-template #modalIntegrante let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Lista Integrantes</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="modal.close('Cerrado desde la ventana')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table" *ngIf="listaIntegrante?.length > 0" id="tablaIntegrante">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombres</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let integrante of listaIntegrante ; let index=index">
                        <td>{{index+1}}</td>
                        <td>{{integrante?.nombre}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('No')">No</button>-->
            <button type="button" class="btn btn-primary" (click)="modal.close()">Cerrar</button>
        </div>
    </div>
</ng-template>