<div class="row">
    <div class="col-12">
        <div class="card box-shadow-sm">
            <div class="card-footer">
                <div class="row form-group">
                    <div class="col-12">
                        <h3><b>Parámetros busqueda :</b></h3>
                    </div>
                </div>
                <form detail-content [formGroup]="formParametroParametro"
                    (ngSubmit)="guardarParametros()">
                    <div class="row form-group">
                        <div class="col-3">
                            <label for="codCategoria"><b>{{'Categoría(*): '}}</b></label>
                            <select name="codCategoria" formControlName="codCategoria" required
                                [compareWith]="compararCategoria" placeholder="Seleccione categoría..."
                                class="form-control mr-sm-2" id="codCategoria"
                                (change)="listarSubcategoriaPorCategoria()">
                                <option [value]="''" selected>Seleccionar categoría</option>
                                <option *ngFor="let categoria  of listaCategoria" [value]="categoria.codigo">
                                    <span><b>{{categoria?.denominacion}}</b></span>
                                </option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Por favor seleccione una opción.</div>
                        </div>
                        <div class="col-3">
                            <label for="codSubcategoria"><b>{{'Subcategoría(*): '}}</b></label>
                            <select name="codSubcategoria" formControlName="codSubcategoria" required required
                                [compareWith]="compararSubcategoria" placeholder="Seleccione subcategoría..."
                                class="form-control mr-sm-2 custom-select" id="codSubcategoria"
                                (change)="listarInstanciaActivo()">
                                <option [value]="''" selected>Seleccionar subcategoría</option>
                                <option *ngFor="let subcategoria  of listaSubcategoria" [value]="subcategoria.codigo">
                                    <span><b>{{subcategoria?.denominacion}}</b></span>
                                </option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Por favor seleccione una opción.</div>
                        </div>
                        <div class="col-3">
                            <label for="codInstancia"><b>{{'Instancia(*): '}}</b></label>
                            <select name="codInstancia" formControlName="codInstancia" required required
                                [compareWith]="compararInstancia" placeholder="Seleccione instancia..."
                                class="form-control mr-sm-2 custom-select" id="codInstancia">
                                <option [value]="''" selected>Seleccionar subcategoría</option>
                                <option *ngFor="let instancia  of listaInstancia" [value]="instancia.codigo">
                                    <span><h3><b>{{instancia?.denominacion}}</b></h3></span>
                                </option>
                            </select>
                            <div class="valid-feedback"></div>
                            <div class="invalid-feedback">Por favor seleccione una opción.</div>
                        </div>
                        <div class="col-md-2 col-3 form-group">
                            <div class="my-2 text-left table-responsive">
                                <button type="submit" [disabled]="formParametroParametro.invalid"
                                    class="btn btn-info btn-rounded">
                                    <b>{{ "Actualizar"}}</b>
                                    <b>{{ " "}}</b>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                            <!--
                            <div class="col-12 form-group">
                                <button [disabled]=""
                                    class="btn btn-success btn-submit waves-effect waves-float waves-light"
                                    (click)="enviarCorreo()">
                                    <b>{{ "Enviar Correo"}}</b>
                                    <b>{{ " "}}</b>
                                    <i class="fa fa-envelope" style="font-size:14px;color:red"></i>
                                </button>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="row form-group">
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <ng-container>
                            <mat-tab-group mat-align-tabs="center" #revTabGroup class="tab-group"
                                [(selectedIndex)]="selectedTab">
                                <mat-tab>
                                    <section class="tab-container">
                                        <div><h3><b>
                                            {{'Lista Parámetro'}}</b></h3>
                                            <button type="submit" (click)="openDetail()" matTooltip="Agregar Nuevo Parametro"
                                                class="btn btn-block btn-primary form-control mt-2">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                {{'Agregar Parámetro'}}
                                            </button>
                                            <table class="table" *ngIf="listaParametro.length > 0" id="tablaParametro">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Nemonico</th>
                                                        <th scope="col">Descripción</th>
                                                        <th scope="col">Valor</th>
                                                        <th scope="col">ValorCadena</th>
                                                        <th scope="col">Estado</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let parametro of listaParametro | paginate: {id:'paginar', itemsPerPage: itemsRegistros, currentPage: page } ; let index=index">
                                                        <td>{{index+1}}</td>
                                                        <td>{{parametro.nemonico}}</td>
                                                        <td>{{parametro.descripcion}}</td>
                                                        <td>{{parametro.valor}}</td>
                                                        <td>{{parametro.valorCadena}}</td>
                                                        <td>{{parametro.estado}}</td>
                                                        <td>
                                                            <div class="btn-group" role="group"
                                                                aria-label="Basic example">
                                                                <button (click)="openEditarDetail(parametro)" matTooltip="Editar Parametro"
                                                                    type=" button" class="btn btn-primary" rippleEffect
                                                                    round><i class="fa fa-pencil"
                                                                        (click)="openEditarDetail(parametro)"></i></button>
                                                                <button (click)="openRemoverDetail(parametro)" matTooltip="Eliminar Parametro"
                                                                    type="button" class="btn btn-danger" rippleEffect><i
                                                                        class="fa fa-trash"
                                                                        (click)="openRemoverDetail(parametro)"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row mt-5" *ngIf="listaParametro.length > itemsRegistros">
                                                <div class="col-12 text-center">
                                                    <pagination-controls id="paginar" class="paginacion"
                                                        [responsive]="true" [autoHide]="true" previousLabel="Anterior"
                                                        nextLabel="Siguiente" (pageChange)="page = $event"
                                                        screenReaderCurrentLabel="Tú estas en la página:">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="listaParametro.length === 0">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>No hay datos disponibles</p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </section>
                                </mat-tab>
                            </mat-tab-group>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-form-parametro [parametroEditar]="parametroSeleccionado" 
    (listaParametro)="listarParametroActivoActualizada($event)"  
    (close)="closeDetail($event)" *ngIf="showDetail">
</app-form-parametro>

<ng-template #modal_confirm_delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Confirmar borrado.'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('no')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'¿Quieres borrar el registro?'}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('yes')">{{'Si'}}</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('no')">{{'No'}}</button>
    </div>
</ng-template>

<ng-template #modal_success let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Exito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'El registro ha sido borrada con éxito'}}
    </div>
</ng-template>

<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'Ha habido un problema al borrar el registro'}}
    </div>
</ng-template>