<div class="row">
    <div class="col-12">
        <div class="card box-shadow-sm">
            <div class="card-footer container" style="border: 1px solid blue">
                <div class="row form-group">
                    <div class="col-12">
                        <b>{{'Datos Cliente'}}</b>
                    </div>
                </div>
                <form detail-content [formGroup]="formClienteIdentificacion"
                    (ngSubmit)="listarCliente()">
                    <div class="row form-group">
                        <div class="col-2">
                            <label for="identificacion"><b>{{'Identificación(*): '}}</b></label>
                            <input type="text" name="identificacion" id="identificacion"
                                formControlName="identificacion" maxlength="60"
                                placeholder="Ingrese identificación." class="form-control"
                                (blur)="blurIdentificacion($event)"
                                [ngClass]="{'is-valid': identificacionField?.dirty && !identificacionField?.invalid && !identificacionField?.errors,'is-invalid': identificacionField?.dirty && identificacionField?.invalid && identificacionField?.errors}">
                            <div class="valid-feedback">
                                <span>{{ "Exito"}}</span>
                            </div>
                        </div>
                        <div class="col-3">
                            <label for="nombre"><b>{{'Nombre cliente(*): '}}</b></label>
                            <input type="text" name="nombre" id="nombre" formControlName="nombre"
                                maxlength="50"
                                placeholder="Ingrese Nombre cliente." class="form-control"
                                [ngClass]="{'is-valid': nombreField?.dirty && !nombreField?.invalid && !nombreField?.errors,'is-invalid': nombreField?.dirty && nombreField?.invalid && nombreField?.errors}">
                            <div class="valid-feedback">
                                <span>{{ "Exito"}}</span>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="my-2 text-left table-responsive">
                                <button type="submit" 
                                    class="btn btn-info btn-rounded">
                                    <b>{{ "Buscar"}}</b>
                                    <b>{{ " "}}</b>
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-12">
                        <ng-container>
                            <mat-tab-group mat-align-tabs="center" #revTabGroup class="tab-group"
                                [(selectedIndex)]="selectedTab">
                                <mat-tab>
                                    <section class="tab-container">
                                        <div>
                                            <b>{{'Lista Cliente'}}</b>
                                            <button type="submit" (click)="openDetail(1)"
                                                matTooltip="Agregar Nuevo Cliente"
                                                class="btn btn-block btn-primary form-control mt-2">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                                {{'Agregar Cliente'}}
                                            </button>
                                            <table class="table" *ngIf="listaCliente?.length > 0" id="tablaCliente">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Identificación</th>
                                                        <th scope="col">Nombres</th>
                                                        <th scope="col">Correo</th>
                                                        <th scope="col">Celular</th>
                                                        <th scope="col">Inicio</th>
                                                        <th scope="col">Tipo Cliente</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let cliente of listaCliente | paginate: {id:'paginar', itemsPerPage: itemsRegistros, currentPage: page } ; let index=index">
                                                        <td>{{index+1}}</td>
                                                        <td>{{cliente?.identificacion}}</td>
                                                        <td>{{cliente?.nombres + ' ' + cliente?.apellidos}}</td>
                                                        <td>{{cliente?.correo}}</td>
                                                        <td>{{cliente?.prefijoTelefonico + ' ' + cliente?.celular}}</td>
                                                        <td>{{cliente?.fechaInicio}}</td>
                                                        <td>{{cliente?.tipoCliente}}</td>
                                                        <td>
                                                            <div class="btn-group" role="group"
                                                                aria-label="Basic example">
                                                                <button (click)="openEditarDetail(cliente)"
                                                                    matTooltip="Editar Cliente" type=" button"
                                                                    class="btn btn-primary" rippleEffect round><i
                                                                        class="fa fa-pencil"
                                                                        (click)="openEditarDetail(cliente)"></i></button>
                                                                <button (click)="openRemoverDetail(cliente)"
                                                                    matTooltip="Eliminar Cliente" type="button"
                                                                    class="btn btn-danger" rippleEffect><i
                                                                        class="fa fa-trash"
                                                                        (click)="openRemoverDetail(persona)"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="row mt-5" *ngIf="listaCliente?.length > itemsRegistros">
                                                <div class="col-12 text-center">
                                                    <pagination-controls id="paginar" class="paginacion"
                                                        [responsive]="true" [autoHide]="true" previousLabel="Anterior"
                                                        nextLabel="Siguiente" (pageChange)="page = $event"
                                                        screenReaderCurrentLabel="Tú estas en la página:">
                                                    </pagination-controls>
                                                </div>
                                            </div>
                                            <ng-container *ngIf="listaCliente?.length === 0">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <p>No hay datos disponibles</p>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </section>
                                </mat-tab>
                            </mat-tab-group>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-form-cliente [clienteEditar]="clienteSeleccionado" [codigoChild]="codigo" [identificacionChild]="identificacion"
    [listaClienteChild]="listaCliente" (listaCliente)="listaClienteActualizada($event)" (close)="closeDetail($event)"
    *ngIf="showDetail">
</app-form-cliente>

<ng-template #modal_confirm_delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Confirmar borrado.'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('no')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'¿Quieres borrar el registro?'}}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('yes')">{{'Si'}}</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('no')">{{'No'}}</button>
    </div>
</ng-template>
<ng-template #modal_success let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Exito'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'El registro ha sido borrada con éxito'}}
    </div>
</ng-template>

<ng-template #modal_error let-modal>
    <div class="modal-header">
        <h5 class="modal-title">{{'Error'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {{'Ha habido un problema al borrar el registro'}}
    </div>
</ng-template>